/* index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: white;
  color: black;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

